@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R.ttf');
}
@font-face {
    font-family: 'Ubuntu-L';
    src: url('../fonts/Ubuntu-L.ttf');
}
@font-face {
    font-family: 'Ubuntu-M';
    src: url('../fonts/Ubuntu-M.ttf');
}
@font-face {
    font-family: 'Ubuntu-B';
    src: url('../fonts/Ubuntu-B.ttf');
}
body{
    font-family: 'Ubuntu';
    background-color: #f7f7f7;
}
img{
    max-width: 100%;
}
.header{
    padding:10px 0;
    background: #fff;
}
.header-top{
    display: -ms-Flexbox;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content:space-between;
    -moz-justify-content: space-between;
    -ms-justify-content:space-between;
    justify-content: space-between;
}
.main-menu{
    padding:0;
    margin-top: 8px;
}
.main-menu li{
    list-style:none;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}
.icon-social{
    margin-top: 8px;
}
.main-menu li a{
    display: block;
    color: #000;
    padding: 10px 15px;
}
.icon-social i{
    font-size: 21px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border:3px solid #39579b;
    border-radius: 50%;
    color: #39579b;
    background: #fff;
    margin: 3px;
}
.icon-social i:hover{
    border-color: #b48753;
    color: #b48753;
}
.phone-number{
    text-align: right;
}
.phone-number p{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}
.phone-number p a{
    color: #000000;
}
.phone-number button{
    height: 35px;
    padding:0 15px;
    color: #fff;
    border-radius: 4px;
    border:0;
    background-image: linear-gradient(to top, #1c8703 0%, #3fcf00 100%);
}
.btn-green{
    background-color: #39b54a;
    color: #fff;
    border:0;
    padding:0 25px;
    height:50px;
}
.item-slider{
    position: relative;
}
.item-slider > img{
    width: 100%;
    height: 560px;
    object-fit: cover;
}
.top-slid-content{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, .3);
    color: #fefefe;
    padding:100px 0;
}

.title-news{
    font-size: 40px;
    font-weight: 300;
    max-width: 640px;
    font-family: 'Ubuntu-L';
    height: 225px;
    overflow: hidden;
    margin-bottom: 30px;
}
.form-fide{
    width: 334px;
    height: 337px;
    border: 10px solid rgba(228, 183, 130, 0.75);
    background-color: rgba(230, 168, 95, 0.75);
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translate(0%, -50%);
    padding:20px;
    color: #fff;
}
.form-fide input{
    width: 100%;
    height: 35px;
    border:0;
    background: #fff;
    padding:0 15px;
    margin-bottom: 15px;
    color: #000;
}
.form-fide .btn-green{
    height: 35px;
    width: 100%;
}
.top-content{
    position: relative;
}
.box-about{
    background-color: #39b54a;
}
.text-about {
    width: 560px;
    color: #fff;
    margin-left: 60px;
    font-size: 16px;
}
.left-img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.list-servicies{
    display: -ms-Flexbox;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.list-servicies > div{
    width: 240px;
    margin:10px;
}
.list-servicies > div img{
    width: 140px;
    height:70px;
    object-fit: contain;
    object-position: bottom;
    margin-bottom: 5px;
}
.name-programm{
    color: #00ad60;
    font-size: 24px;
    font-weight: 700;
}
.section-programm{
    background: #fff;
}
.item-programm > div{
    width: 100%;
    height: 175px;
    overflow: hidden;

    margin-bottom: 20px;
}
.item-programm img{
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: all ease 0.5s;

}
.text-programm{
    font-size: 16px;
    line-height: 20px;
    height:80px;
    overflow: hidden;
    margin-bottom: 0;
    color: #000;
}
.item-programm{
    margin: 15px 0;
    padding: 15px;
    transition: all ease 0.5s;
}
.item-programm:hover{
    background: #f1f1f1;
}
.item-programm:hover img{
    transform: scale(1.2, 1.2);
}
.section-reviews{
    background-color: #e4b782;
    padding:20px 0;
    color: #fff;
    font-size: 16px;
    font-style: italic;
}
.reviews-profile{
    margin: 10px 30px;
}
.reviews-profile img{
    width: 75px;
    height:75px;
    object-fit: cover;
    float: left;

}
.n-reviews-profile{
    margin-left: 90px;
    padding-top: 10px;
}
.n-reviews-profile span{
    display: block;
}
.name-profile-r{
    font-size: 21px;
}
.text-reviews{
    position: relative;
    padding:20px 30px;
}
.text-reviews:before,
.text-reviews:after{
    font-family: Georgia;
    font-size: 72px;
    font-weight: 700;
    line-height: 20px;
    position: absolute;
}
.text-reviews:before{
    content: '‘';
    left: 0;
    top: 0;

}
.text-reviews:after{
    content: '’';
    right: 0;
    bottom: 0;
}
.item-reviews{
    margin: 20px 15px;
}
.single-item .slick-dots{
    bottom: 25px;
}
.single-item.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.reviews-list .slick-dots li button,
.single-item .slick-dots li button{
    border:2px solid #fff;
    border-radius: 50%;
    width: 18px;
    height:18px;
}
.reviews-list .slick-dots li.slick-active button,
.single-item .slick-dots li.slick-active button{
    background: #fff;
}
.reviews-list .slick-dots li button:before,
.single-item .slick-dots li button:before,
.reviews-list .slick-dots li.slick-active button:before,
.single-item .slick-dots li.slick-active button:before,
.reviews-list .slick-dots li button:hover:before,
.single-item .slick-dots li button:hover:before,
.reviews-list .slick-dots li button:focus:before,
.single-item .slick-dots li button:focus:before{
    opacity: 0;
}
.btn-reviews{
    height: 50px;
    padding:0 25px;
    color: #fff;
    border-radius: 4px;
    border:0;
    font-size: 24px;
    background-image: linear-gradient(to top, #1c8703 0%, #3fcf00 100%);
    margin: 30px auto 50px;
}
.btn-add-review{
    background-image: linear-gradient(to top, #1c8703 0%, #3fcf00 100%);
    color: #fff;
    border-radius: 4px;
    border:0;
    height: 35px;
    font-size: 16px;
    padding: 0 15px;
    font-family: 'Ubuntu';
    float: right;
    margin-top: -45px;
}
.bottom-logo{
    display: -ms-Flexbox;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 40px;
}
.bottom-logo div img{
    background: #fff;
    margin: 13px;
    width: 132px;
    height:132px;
    object-fit: contain;
}
.partners{
    background: #fff;
}
.footer{
    background-color: #b48753;
    padding: 20px 0;
}
.bg-logo{
    text-align: right;
    margin-top: 10px;
}
.bottom-icons-s{
    margin-top: 15px;
}
.btn-about{
    color: #39b54a;
    font-size: 16px;
    height: 52px;
    background-color: #ffffff;
    border:0;
    padding:0 30px;
    font-family: 'Ubuntu-M';
    margin-top: 40px;
    margin-bottom: 20px;
}
.menu-mob{
    margin-top: 10px;
    display: inline-block;
}
.in-mob-ver{
    position: fixed;
    width: 280px;
    background: #fff;
    height: 100vh;
    z-index: 1000;
    right: 0;
    top:56px;
    overflow: auto;
    border-left: 1px solid #f3f3f3;
}
.menu-mob img{
    width: 30px;
    height:30px;
}
.main-logo{
    width: 200px;
    height:47px;
    object-fit: contain;
    object-position: left top;
}
.address-map{
    width: 324px;
    height: 331px;
    box-shadow: 0 3px 14px 1px rgba(0, 0, 0, 0.25);
    background-color: #e4b782;
    padding: 20px 30px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(-15%, -50%);
    color: #fff;
}
.section-map{
    position: relative;
}
.phone-box a{
    display: block;
}
.address-map p a {
    color: #fff;
    text-decoration: underline;
}

.add-question {
    margin-top: 30px;
}
.top-bunner{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.left-menu{
    background: #fff;
    padding:15px;
}
.left-menu li{
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}
.left-menu li a{
    color: #000;
    display: block;
    padding: 10px;
}
.left-menu li.active{
    font-family: 'Ubuntu-B';
}
.title-page{
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Ubuntu-B';
}
.content-white{
    background: #fff;
    padding: 20px 40px;
    min-height: 500px;
    font-size: 16px;
}
.about-cont > div{
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.page-other{
    margin: 25px 0 40px;
}
.list-info .panel-default{
    border:0;
    margin-bottom: 0;
}
.list-info .panel-default>.panel-heading{
    background-color: #fff;
    border:0;
    background-size: 14px;
}
.list-info .panel{
    box-shadow: none;
}
.list-info .panel-default>.panel-heading a:hover,
.list-info .panel-default>.panel-heading a:focus{
    text-decoration: none;
}
.panel-title{
    font-size: 21px;
    padding-right: 20px;
    position: relative;
}
.panel-title > a:before {
    font-family: FontAwesome;
    content:url(../images/minus-icon.png);
    position: absolute;
    right: 0;
    top:0;
}
.panel-title > a.collapsed:before {
    content:url(../images/plus-icon.png);
}
.panel-default>.panel-heading{
    background: none;
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group{
    border:0;
}
.content-wrap .panel-default{
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
}
.panel-heading,
.panel-body{
    padding: 10px 0;
}
.icon-pdf{
    width: 30px;
    height: 40px;
    background: url(../images/icon-pdf.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    float: left;
}
.item-book{
    margin-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
}

.item-book a{
    color: #000000;
}
.link-book{
    margin-top: 20px;
}
.partners{
    padding:20px;
}
.partners .bottom-logo{
    margin: 0;
}
.univ-info{
    margin-top: 20px;
}
.univ-info p{
    margin-bottom: 5px;
    line-height: 16px;
}
.univ-info p span{
    display: initial;
    color: #e4b782;
}
.page-review .reviews-profile{
    margin: 0;
}
.item-review{
    background: #fff;
    padding:15px;
    margin-bottom: 20px;
}
.text-rev {
    font-size: 16px;
    background: url("../images/gal-b.png"), url("../images/gal-b2.png");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    padding: 22px;
}
.modal-des .modal-content{
    background-color: #e6a85f;
    border-radius: 0;
}
.modal-des textarea{
    width: 100%;
    max-width: 100%;
    min-height: 315px;
    border: 0;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 15px;
    font-style: italic;
}
.modal-des input{
    width: 100%;
    height: 40px;
    border:0;
    background: #fff;
    padding:0 15px;
    margin-bottom: 15px;
    outline: none;
    font-style: italic;
}
#modal-1 .modal-body{
    padding: 40px;
}
#modal-2 .modal-body{
    padding: 20px 30px;
}
.modal-title{
   font-size: 21px;
    font-family: 'Ubuntu-B';
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
.pod-title{
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.modal-des .btn-green{
    width: 100%;
    height: 40px;
}
.info-more img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
    float: left;
    object-fit: cover;
}
.info-more p{
    font-size: 16px;
}
a{
    cursor: pointer;
}
@media (min-width: 1200px) {
    .mob-version,
    .in-mob-ver{
        display: none;
    }
}

@media (min-width: 767px) {
    #modal-1 .modal-dialog{
        width: 400px;
    }
    #modal-2 .modal-dialog{
        width: 715px;
    }
}
@media (max-width: 1700px) {
    .form-fide{
        right:15%;
    }
}
@media (max-width: 1400px) {
    .form-fide{
        right:10%;
    }
}

@media (max-width: 1200px) {
    .header{
        position: fixed;
        top:0;
        width: 100%;
        left: 0;
        background: #fff;
        z-index: 1000;
    }
    .content{
        margin-top: 55px;
    }
    .bottom-logo div img{
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    .map-box{
        height: 350px;
        overflow: hidden;
    }
    .text-about{
        width: 58.33333333%;
        margin-left: 0;
    }
    .main-menu li{
        display: block;
    }
    .header-top > div{
        width: 50%;
        float: left;
    }
    .form-fide{
        display: none;
    }
    .item-slider > img{
        height: 450px;
    }
    .sm-hide{
        display: none;
    }
    .phone-number {
        text-align: center;
    }
    .menu-bar{
        text-align: right;
        float: right;
    }
    .header{
        border-bottom: 1px solid #dedede;
    }
    .icon-social{
        text-align: center;
        margin-top: 15px;
    }
    .main-menu{
        margin-bottom: 80px;
    }
    .in-mob-ver {
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    .div-view {
        transform: translateX(0);
        z-index: 100;
    }
    .address-map{
        height: 331px;
        position: absolute;
        right: 2%;
        transform: translate(-3%, -50%);
    }
    .header-top{
        display: block;
    }

}
@media (max-width: 767px) {
    .text-about {
        width: 100%;
    }

    .phone-number{
        width: 100% !important;
    }
    .text-reviews:before,
    .text-reviews:after {
        display: none;
    }
    .menu-mob{
        margin-top: 0;
    }
    .text-reviews {
        padding: 0;
    }

    .reviews-profile {
        margin: 10px 0;
    }

    .reviews-profile img {
        width: 35px;
        height: 35px;
    }

    .n-reviews-profile {
        margin-left: 50px;
        padding-top: 0;
    }

    .reviews-list .slick-dots li button {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
    .btn-reviews{
        font-size: 21px;
        width: 100%;
    }
    .main-logo{
        width: 145px;
        height:35px;
        object-fit: contain;
        object-position: left top;
    }
    .top-slid-content{
        padding: 20px 0;
    }
    .item-slider > img{
        height: 350px;
    }
    .title-news{
        font-size: 22px;
        height: 167px;
    }
    .bottom-logo div img {
        width: 60px;
        height: 60px;
        margin: 5px;
    }
    .name-profile-r{
        font-size: 16px;
    }
    .address-map{
        height: 331px;
        position: static;
        right: 2%;
        transform: translate(0%, 0%);
        width: 100%;
        padding: 15px;
    }
    .content-wrap{
        padding: 0;
    }
    .content-white{
        padding: 2px 15px 15px;
    }
    .bg-logo,
    .logo-footer{
        text-align: center;
    }
    .panel-title{
        font-size: 16px;
    }
    .content-white{
        font-size: 14px;
    }
    .title-page{
        font-size: 26px;
        line-height: 27px;
    }
    .bottom-logo{
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
    .text-rev{
        font-size: 14px;
    }
    .page-review{
        padding:0;
    }
    #modal-1 .modal-body{
        padding: 15px;
    }
    #modal-2 .modal-body{
        padding: 15px;
    }
    .main-menu {
        margin-bottom: 40px;
    }
}